<div class="about-first">
  <div>
    <hr align="left"><h2>ABOUT US</h2>
  </div>
  <h1>Meet Our Dream Team</h1>
</div>
<div class="about-second">
  <div class="swiper-container swiper3">
    <div class="swiper-wrapper">
      <div class="swiper-slide about-second-slide">
        <div class="about-second-slide_left">
          <%= image_tag 'https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' %>
        </div>
        <div class="about-second-slide_right">
          <div class="about-second-slide_header">
            <hr>
            <h2>ABOUT US</h2>
          </div>
          <h1>The Trailblazer Safari Company</h1>
          <p>
            We are a local safari company run by local people with local knowledgeable, passionate and dedicated team of Ugandans delivering incredible safari experiences to our clients. After friends kept coming for unique safari experiences that were off the tourist track, our director Henry founded Trailblazer in 2016 to help them find Uganda’s best experiences. We’re now a team of 16 including drivers with excellent local knowledge, experienced logistics professionals and marketing experts.
            <br><br>
            With the effort of all of our collaborators we are able to bring to the world amazing experiences for families, couples, single travellers and adventureres who would like to see the deepest corners of Uganda.
          </p>
        </div>
      </div>
      <div class="swiper-slide about-second-slide">
       <div class="about-second-slide_left">
         <%= image_tag 'henry.png' %>
       </div>
       <div class="about-second-slide_right">
         <div class="about-second-slide_header">
           <hr>
           <h2>ABOUT US</h2>
         </div>
         <h1>Our Founder</h1>
         <p>
          Henry Muyanja is a wildlife expert and believer that toursim is the key to bring back to life the Ugandan economy. He has dedicated many years to his life to help not only the fauna & flora of this country and to protect it but also the people of Uganda by teaching them a better way.
          <br><br>
          A better way to approach nature, humanity and helping those commmunities in need by creating Safari Experiences that allow the international community see what Uganda is really about and to be aware of its current situation.
          <br><br>
          Henry has had the opportunity to study and travel abroad and bring new ideas to Uganda in the areas of agriculture and tourism.
         </p>
       </div>
      </div>
<!--       <div class="swiper-slide about-second-slide">
       <div class="about-second-slide_left">
         <%= image_tag 'https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' %>
       </div>
       <div class="about-second-slide_right">
         <div class="about-second-slide_header">
           <hr>
           <h2>ABOUT US</h2>
         </div>
         <h1>The Trailblazer Company</h1>
         <p>
           There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br><br> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. <br><br>Some of ther text ot be introduced in regards of the company biography.
         </p>
       </div>
      </div>
      <div class="swiper-slide about-second-slide">
       <div class="about-second-slide_left">
         <%= image_tag 'https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' %>
       </div>
       <div class="about-second-slide_right">
         <div class="about-second-slide_header">
           <hr>
           <h2>ABOUT US</h2>
         </div>
         <h1>The Trailblazer Company</h1>
         <p>
           There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br><br> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. <br><br>Some of ther text ot be introduced in regards of the company biography.
         </p>
       </div>
      </div> -->
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next">
      <i class="fas fa-chevron-right"></i>
    </div>
    <div class="swiper-button-prev">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="swiper-pagination swiper-pagination3"></div>
  </div>
</div>
<div class="about-third">
  <div class="about-third_left">
    <div class="about-third_left_header">
      <hr>
      <h2>ABOUT US</h2>
    </div>
    <h1>Giving Back</h1>
    <p>
      At Trailblazer, we are passionate about delivering ethical safaris that support the local community. We organise trips and experiences with local businesses where money can directly benefit the community and are always looking for the most responsible partners for our trips. <br><br>
      We also partner with Street Child through giving part of our profits to the organization which is a globally recognized INGO, that provides support to the most vulnerable children to access a higher quality education. Since 2008, Street Child has helped 200,000 children go to school and supported over 15,000 families to set up business for economic sustainability. <br><br>
      We want to set an example in Uganda for how businesses can be run to economically empower local people and support small businesses. In Uganda, Street Child is reaching out to 8,500 through accessing education and that’s in  children in 2 refugee settlements (Palabek and Kyaka II) and rural areas(Masindi, Hoima, Kilyadongo, Kumi and Iganga).
    </p>
  </div>
  <div class="about-third_right">
    <%= image_tag 'https://images.pexels.com/photos/1102570/pexels-photo-1102570.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' %>
  </div>
</div>
<!-- <div class="about-fourth">
  <div>
    <hr align="left"><h2>ABOUT US</h2>
  </div>
  <h1>Partnerships</h1>
</div> -->
<!-- Swiper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<!-- Initialize Swiper -->
<script>
  var swiper3 = new Swiper('.swiper3', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination3',
      clickable: true,
    },
  });
</script>
